@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	vertical-align: baseline;
	text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.flex {
  display: flex;
}

.colum {
  flex-direction: column;
}

.j_center {
  justify-content: center;
}

.a_center {
	align-self: center;
}

.a_stretch {
	align-items: stretch;
}

.space_between {
	justify-content: space-between;
}

.fixed {
	position: fixed;
}

.w_size_100 {
  width: 100%;
}

.w_size_80 {
	width: 80%;
}

.w_size_70 {
	width: 70%;
}

.w_size_50 {
	width: 50%;
}

.w_size_40 {
	width: 40%;
}

.w_size_33 {
	width: 33%;
}

.w_size_25 {
	width: 25%;
}

.h_size_100 {
	height: 100%;
}

.h_size_90 {
	height: 90%;
}

.h_size_80 {
	height: 80%;
}

.h_size_70p {
	height: 70px;
}

.h_size_70 {
	height: 70%;
}

.h_size_60 {
	height: 60%;
}

.h_size_50 {
	height: 50%;
	color: rgb(11, 97, 167);
}

.padding_div {
	padding: 32px 0 56px 0;
}

.padding_box {
	padding: 150px 0 56px 0;
}

.margin_none {
	margin: 0;
}

.background_image_init {
	background-image: url('https://c4.wallpaperflare.com/wallpaper/284/697/228/women-artwork-warrior-sword-wallpaper-preview.jpg');
	background-size: cover;
	background-position: center;
}

.background_image_container {
	background-image: url('https://c4.wallpaperflare.com/wallpaper/31/1013/243/original-characters-anime-girls-2d-guweiz-z-w-gu-hd-wallpaper-preview.jpg');
	background-size: cover;
	background-position: center;
}

.background_image_box {
	background-image: url('https://c4.wallpaperflare.com/wallpaper/885/751/661/rain-artwork-women-earring-wallpaper-preview.jpg');
	background-size: cover;
	background-position: center;
	backdrop-filter: blur(10px);
}

.background_black {
  background-color: black;
  color: white;
}

.background_white {
	background-color: rgba(255, 255, 255, 0.5);
}

.box_shadow {
	box-shadow: 0 3px 3px 3px  rgba(0, 0, 0, 0.047);
    border-radius: 8px;
    color: black;
}

.b_sizing {
	box-sizing: border-box;
	padding: 24px;
}

.box_logo {
	flex-wrap: wrap;
	justify-content: left;
}

.image_logo {
	display: flex;
	width: 220px;
	padding: 0 11px;
	margin-bottom: 40px;
	justify-content: center;
	align-items: center;
}

.box_style {
	border-radius: 8px;
	height: 500px;
}

.box_information {
	margin: 0 0 0 70px;
}

.language {
	width: 105px;
}